# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
bin/
obj/
Debug/
Release/
node_modules/
bower_components/
.vs/
*.vscode/
**/wwwroot/**
.vs
.vscode
.gitignore
*.csproj.user

# Files
*.dll
*.exe
*.pdb
*.user
*.ncrunch*
*.dotCover
*.resharper*
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdf
*.pgc
*.pgd
*.rsp
*.sbr
*.sdf
*.suo
*.tlog
*.tmp
*.tmp_proj
*.log
*.vc.db
*.vcxproj.*
*.vcxproj.user
*.vcxproj.filters
